<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《雅芳》蝶舞霓彩最美一瞬</title>
{% stylesheets 'bundles/iqiyiavon/css/m/yr/*' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>

<body>
<div id="background">
<div id="pagepage">
<div  class="bg">
<div class="ico">
<div class="margin"><a href="#"><img src="{{ asset('bundles/iqiyiavon/images/m/yr/ico01.gif') }}" width="36" height="36" /></a></div>
<div class="margin"><a href="#"><img src="{{ asset('bundles/iqiyiavon/images/m/yr/ico02.gif') }}" width="36" height="36" /></a></div>
<div class="margin"><a href="#"><img src="{{ asset('bundles/iqiyiavon/images/m/yr/ico03.gif') }}" width="37" height="37" /></a></div>
</div>
<a  class="video_l_area" href="#"></a>
</div>
</div>
</div>
</body>
</html>
