<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《雅芳》蝶舞霓彩最美一瞬</title>
{% stylesheets 'bundles/iqiyiavon/css/yr/*' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>

<body>
<div id="background">
<div id="pagepage">
   <div class="pic"><img src="{{ asset('bundles/iqiyiavon/images/yr/pic01.jpg') }}" width="1002" height="398" /></div>
   <div class="video_l">
   <div class="video_l_area"></div>
   </div>
   <div class=pic><img src="{{ asset('bundles/iqiyiavon/images/yr/pic03.jpg') }}" width="195" height="629" border="0" usemap="#Map" />
     <map name="Map" id="Map">
       <area shape="circle" coords="37,96,19" href="#" />
       <area shape="circle" coords="83,96,20" href="#" />
       <area shape="circle" coords="133,97,20" href="#" />
     </map>
   </div>
   
 <!-- 标准尾 begin -->
    


<div class="footer" collection="Y">
  <div class="big_bg"></div>
  <a href="http://app.iqiyi.com/" class="fEn" title=""APP专区"">APP专区</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/aboutus.html" title="公司介绍">公司介绍</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/news.html" title="新闻动态">新闻动态</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/contactus.html" title="联系方式">联系方式</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/employ.html" title="招聘英才">招聘英才</a><span class="fGray">|</span>
  <a href="http://labs.iqiyi.com/" title="奇艺实验室">奇艺实验室</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/helpandsuggest.html?entry=yedi" title="帮助与反馈">帮助与反馈</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/20100420/n4813.html" class="fEn" title="About Us">About Us</a><br>
<span class="fEn"><a href="http://www.iqiyi.com/" title="爱奇艺">爱奇艺</a>&nbsp;&nbsp;© 2014 iQIYI.COM</span>
</div>

<div class="hoverOutwrap" data-widget="qishengtemp" style="display:none">
  <div class="hover-box">
    <div class="totop"><a class="sy-ding" href="javascript:void(0);" style="display:none;"></a></div>
    <div class="tosyn"><a class="sy-tong" href="javascript:void(0);" id="j-qishengbtn"></a></div>
  </div>
</div>
<!-- 标准尾 end -->  

</div>
</div>
</body>
</html>
